table {
  margin: 30px 0;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
  background-image: linear-gradient(to top left,#feb020,#ffd05c);
}

.current-weather {
  background-image: linear-gradient(to top left,#feb020,#ffd05c);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 15px;
}

.weather-header {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px
}

.weather-body {
  margin-left: 10px;
}